#cohort-2017-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

.about-nycaasc {
  background-image: url('../img/2017-cohort-web.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 540px;
}

.preview-2018 {
  background-color: rgba(245,245,245,0.85);
  margin-top: 20px;
  margin-bottom: 20px;
}