
.bs-docs-header {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #cf3537;
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
.bs-docs-header .container {
    position: relative;
}
.conf-schedule {
	width: 100%;
	max-width: none;
	table-layout: auto;
}
.conf-schedule-time {
	width: 0;
	padding-left: 0!important;
}
.conf-schedule-events {
	padding-right: 0!important;
	padding: 9px 9px 9px 12px;
	background-color: rgba(207,53,55,0.1);
}
.conf-schedule-cell {
	background-color: rgba(207,53,55,0.1);
    padding: 9px 9px 9px 12px;
    margin-bottom: 5px;
    position: relative;
    flex: 1 1 auto;
}
.conf-session-title {
	font-weight: bold;
	font-size: 14px
}
.conf-schedule-events, .conf-schedule-time {
	border: 0!important;
	padding: 10px!important;
	vertical-align:top;
}
.conf-separate {
	border-top:1pt solid black;
}



