/* Logo formatting
--------------------- */
.logo-text {
  font-family: "Streetvertising Medium", Roboto;
}
.logo-red {
  color: rgba(209,50,56,1);
}
/* Archival
------------- */
.bs-docs-header {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #cf3537;
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}
.bs-docs-header .container {
    position: relative;
}
.conf-schedule {
	width: 100%;
	max-width: none;
	table-layout: auto;
}
.conf-schedule-time {
	width: 0;
	padding-left: 0!important;
}
.conf-schedule-events {
	padding-right: 0!important;
	padding: 9px 9px 9px 12px;
	background-color: rgba(207,53,55,0.1);
}
.conf-schedule-cell {
	  background-color: rgba(207,53,55,0.1);
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    flex: 1 1 auto;
}
.conf-session-title {
	font-weight: bold;
	font-size: 14px
}
.conf-schedule-events, .conf-schedule-time {
	border: 0!important;
	padding: 10px!important;
	vertical-align:top;
}
.conf-separate {
	border-top:1pt solid black;
}

#MemberName {
    font-size: 150%;
    font-weight: bold;
    margin-bottom:-2%;
    text-align: center!important;
}
#ePosition {
    text-align: center!important;
}
#MemberTitle {
    font-size: 100%;
    font-weight: bold;
    text-align: center!important;
    max-width:250 px;
}
#MemberAffiliation {
    font-size: 100%;
    text-align: center!important;
    max-width:250 px;
}

#moreInfo{
    font-size: 24px!important;
    text-align: center!important;
    text-decoration: none;
    margin-top:-2%;
}



#BioName {
    font-size: 150%;
    font-weight: bold;
    text-align:left;
    margin-top:0%;
}
#BioTitle {
    font-size: 110%;
    font-weight: bold;
    text-align:left;
}
#BioDescript {
    font-size: 110%; /* em or percentages? - AC*/
    line-height:160%;
    text-align:left;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  /* position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%; */
  width: auto;
  height: auto;
  vertical-align: middle;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.top-buffer {
	margin-top:20px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Sticky footer styles
-------------------------------------------------- */
#foot {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top-width: 1px;
  border-top-style: outset;
  padding-bottom: 20px;
}
#foot>div {
  color: #727272;
  padding: 20px;
}

/* Header style
------------------------- */
#menu.navbar-default .navbar-brand .navbar-nav>li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#menu.navbar-default {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 1px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(173, 173, 173, 1);
    background-color: rgba(248, 248, 248, 0);
    transition: .2s ease;
    transition-delay: 0s;
    transition-property: all;
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(122, 122, 122, 1);
    background-color: #efefef;
}
#cmenu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(66, 66, 66, 1);
    background-color: rgba(231, 231, 231, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

/* Social media styles
------------------------- */
.socialmedia {
  opacity: 0.7;
  display: block;
  margin: auto;
  height: auto;
  max-width: 30%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}
.socialmedia:hover {
  opacity: 1;
}

/* Page styles
-------------------- */

#nycaasc-header-image {

  max-width: 100%;
  width: 100%;
  height: auto!important;
}
#nycaasc2017-copy {

}

#fundraiser-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div {

}

main {
  background-color: white;
  margin: 0 auto;
  padding: 50px;
  font: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  width: 90%;
}
h1 {
  font-family: Futura, Helvetica, sans-serif;
  color: #d13238;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  color: #4F646F;
  margin-bottom: 25px;
  margin-top: 25px;
}
p>a {
  color: #ff6663;
}
h3 {
  font-family: "Helvetica Neue", sans-serif;
}
.copy {
  font-size: 20px;
  line-height: 1.6;
}
.big-copy {
  font-size: 2em;
}
.btn-primary {
  background-color: #d13238;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #dd163e;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active, .btn-primary:active, .btn-primary.active {
  background-color: #dd163e;
}
.btn-primary .badge {
  color: #DE0000;
  background-color: #ffffff;
}
.btn-custom {
  display: inline;
  padding: 20px;
}

.nav {
  font-family: "Streetvertising Medium", "Helvetica Neue", sans-serif;
}

/* Home
------------ */

/* Conference
------------ */
#theme-statement {

}
.theme-statement-emphasis {
  font-size: 1.6em;
  line-height: normal;
  color: #4F646F;
  padding: 15px 10px;
  text-align: justified;
}
.theme-statement-regular {
  padding: 15px 10px;
}
#theme-questions>ul>li {
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
#theme-register-button {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}

/* About
--------- */
#about-page-copy {
  padding: 15px 10px;
}

#about-page-copy > div > div {
}

#about-cta {


}
#about-action>a>div {
  margin: 30 auto;
  background-color: #fff6f6;
  padding: 80px;
  text-align: center;
}
#about-learn-more {

}
#about-register {

}
#about-action>a>div:hover,
#about-action>a>div:focus {
    background-color: #efefef;
    transition: .2s ease;
    transition-delay: 0s;
    transition-property: all;
}

.faq>ul>li {
  margin: 30, 30;
  border-color: white;
  background-color: #fff2f2;
  padding: 25px;
  color: #444;
  font-size: 1.2em;
}
.faq>ul>li>h3 {
  font-weight: 500;
  font-size: 1.5em;
  color: #d13238;
}
/* Eboard
---------- */
img.headshot {
    display: block!important;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.eboard-list {
  margins: 0 auto;
}
.eboard-name {
  display: block!important;
  margin-left: 50;
  margin-right: 50;
  color: #4F646F;
  text-align: center;
}
.school {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.email {
  font-size: 1.3em;
  text-align: center;
}
.bio {
  font-size: 1.3em;
  font-weight: 300;
  color: #4F646F;
  padding-left: 50;
  padding-right: 50;
}
