/* NYCAASC LOGO
--------------------- */
.brand-typeface {
  font-family: "Streetvertising Medium", "Roboto";
}
.brand-red {
  color: rgba(209,50,56,1);
}

/* STYLE OBJECTS
-----------------------------*/

.list-item {
  padding-top: 1em;
  line-height: 1.7em;
}

.top-border {
  border-top: 3px solid rgba(0,0,0,0.3);
}

.text-jumbo {
  font-size: 20px;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

blockquote {
  opacity: 0.7;
  font-size: 1.1em;
  font-style: italic;
}

.grow {
  transition: .2s ease;
}

.grow:hover {
  font-size: larger;
}

/* SITE FOOTER
-------------------------------------------------- */

#foot {
  position: sticky;
  bottom: 0;
  padding: 36px 24px;
  background-color: #f5f5f5;
  border-top-width: 1px;
  border-top-style: outset;
  font-size: 0.75em;
}


/* SOCIAL MEDIA FOOTER ICONS
------------------------- */

.socialmedia{
  width: 2rem;
  height: auto;
  opacity: 0.8;
  transition: .2s ease;
  backface-visibility: hidden;
}
.socialmedia:hover {
  opacity: 1;
}


/* SITE PAGE CONTENT
-------------------- */

h1 {
  font-family: Futura, Helvetica, sans-serif;
  color: #d13238;
  margin-top: 0.75em;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  color: #4F646F;
}
h3 {
  font-family: "Helvetica Neue", sans-serif;
}

/* CURRENTBOARD
------------------------- */
.img-md-size {
  /* max-width: 350px; */
}