/* Logo formatting
--------------------- */
.logo-text {
  font-family: "Streetvertising Medium", Roboto;
}
.logo-red {
  color: rgba(209,50,56,1);
}


/* Sticky footer styles
-------------------------------------------------- */
#foot {
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-top-width: 1px;
  border-top-style: outset;
  padding-bottom: 20px;
}
#foot>div {
  color: #727272;
  padding: 20px;
}

/* Header style
------------------------- */
#menu.navbar-default .navbar-brand .navbar-nav>li {
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#menu.navbar-default {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 1px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(173, 173, 173, 1);
    background-color: rgba(248, 248, 248, 0);
    transition: .2s ease;
    transition-delay: 0s;
    transition-property: all;
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(122, 122, 122, 1);
    background-color: #efefef;
}
#cmenu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(66, 66, 66, 1);
    background-color: rgba(231, 231, 231, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


/* Social media styles
------------------------- */
.socialmedia {
  opacity: 0.7;
  display: block;
  margin: auto;
  height: auto;
  max-width: 30%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}
.socialmedia:hover {
  opacity: 1;
}


/* Page styles
-------------------- */

#nycaasc-header-image {

  max-width: 100%;
  width: 100%;
  height: auto!important;
}
#nycaasc2017-copy {

}

#fundraiser-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-bottom: 20px
}

#fundraiser-moreinfo {
  font-size: 16px;
  background-color:
  rgba(245,245,245,1);
  padding: 20px
}


#main {
  /*background-color: white;*/
  padding: 20px;
  /*font: "Helvetica Neue", Helvetica, sans-serif;*/
  display: block;
}
h1 {
  font-family: Futura, Helvetica, sans-serif;
  color: #d13238;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  color: #4F646F;
  margin-bottom: 25px;
  margin-top: 25px;
}
h3 {
  font-family: "Helvetica Neue", sans-serif;
}
.copy {
  font-size: 20px;
  line-height: 1.6;
}
.big-copy {
  font-size: 2em;
}
.btn-primary {
  background-color: #d13238;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #dd163e;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active, .btn-primary:active, .btn-primary.active {
  background-color: #dd163e;
}
.btn-primary .badge {
  color: #DE0000;
  background-color: #ffffff;
}
.btn-custom {
  display: inline;
  padding: 20px;
}

.nav {
  font-family: "Streetvertising Medium", "Helvetica Neue", sans-serif;
}

/* Index.html
(Home page)
---------------- */

.modal.in {
  display:block;
}
#modal-title>h1 {

}
#donate-promo {
  display: block;
  margin: 0 auto;
}


#sponsors{
  background-color: #F9EAE1;
}
#sponsors>p, #sponsors>h4 {
  text-align: center;
}
.sponsor-preview {
  /* Center the image */
  display: block;
  margin: auto;

  /* Space the images apart */
  padding-bottom: 30px;

  width: 128px;
  height: auto;

  transition: .2s ease;
  backface-visibility: hidden;
}
.sponsor-preview:hover {
  opacity: 0.7;
}
#sponsor-apa {
  width: 400px;
}
#sponsor-silver>div>img {
  width: 150px;
}
.figure-caption {
  text-align: center;
  margin-bottom: 30px;
}
#conf-slides {
  margin: 0 auto;
  /* max-width: 720px; */
}

/* About
--------- */
#about-page-copy {
  padding: 15px 10px;
}

#about-action>a>div {
  margin: 30 auto;
  background-color: #fff6f6;
  padding: 80px;
  text-align: center;
}

#about-action>a>div:hover,
#about-action>a>div:focus {
    background-color: #efefef;
    transition: .2s ease;
    transition-delay: 0s;
    transition-property: all;
}


/* HSL page
--------- */

.hsl-apply {
  margin-bottom: 0;
}

#header-background {
  background-image: linear-gradient(to right, rgba(223, 100, 100, 1) 40%, rgba(255, 255, 255, 0.5)), url("../img/hsl/2017/board-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.hsl-2017-portfolio {
  padding-bottom: 30px;
}

#hsl-2017-heading {
  padding-top: 15px;
  padding-bottom: 15px;
}

#hsl-2017-heading h3 {
  margin-top: 0;
}

.hsl-2017-portfolio img {
  width: 100%;
}

.hsl-2017-projects {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-gall {
  /* margin-bottom: 30px; */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.hsl-portfolio-caption {
  padding: 20px;
  /* background-color: rgba(0,0,0,0.1); */
  background-color: rgba(223, 100, 100, 0.1);
  /* margin-top: 8px; */
}

.hsl-portfolio-caption p {
  /* color: rgba(0,0,0,0.70); */
  margin: 0;
}

.hsl-2017-projects h4{
  margin-top: 0;
}